html{
   box-sizing: border-box;
   color: #000;
}
*,
*::before,
*::after{
   box-sizing: inherit;
   max-width: 100%;
}

a {
   color:inherit;
   text-decoration: none;
}

ul {
   list-style: none;
   font-family: 'Orbitron', sans-serif;
   cursor: pointer;
}
body {
   /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.88) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; */
   background-color: #000;
   font-size: 16px;
   color: #000;
   font-weight: 500;
   line-height: 1.2; 
   padding: 0;
   margin: 0;
}


.container{
   max-width: 1320px;
   padding: 0 15px;
   margin: 0 auto;
   /* margin-left: 60px;
   margin-right: 60px; */
}

.text__decoration {
   position: relative;
}

.text__decoration::after {
   position: absolute;
   content: ' ';
   left: 0;
   bottom: -9px;
   width: 100%;
   height: 16px;
}
.text__decoration--yellow::after {
   background: url('../images/IMAGE-text-decoration.svg')center center no-repeat;
}
.text__decoration--blue::after {
   background: url('../images/text-decoration-blue.svg')center center no-repeat;
}


/*==================  Header Section ===================*/

.header {
   display: flex;
   min-height: 100vh;
   background: rgb(0,0,0);
   background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgba(87,184,255,1) 58%);
}

.header__top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
   /* gap: 222px; */
   /* padding-bottom: 222px; */
}
.menu {
   display: flex;
   gap: 167px;
   align-items: center;
}

.buy {
   position: relative;
}

.buy::after {
   position: absolute;
   content: "0";
   top: -10px;
   right: -20px;
   font-size: 12px;
   background-color: #fff;
   border-radius: 100%;
   padding: 3px 6px;
}


.menu__list {
   display: flex;
   flex-direction: row;
   gap: 60px;
   justify-content: center;
   /* padding: 0px 90.281px 0px 89.781px; */
}
button {
   padding: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: white;
   font-family: 'Orbitron', sans-serif;
}
.menu__too {
   display: flex;
   align-items: center;
   gap: 40px;
}

li{
   --s: 0.1rem;   
   --c: rgb(0, 38, 255); 
   color: whitesmoke;
   background: 
     linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
     linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
   -webkit-background-clip: text,padding-box;
   background-clip: text,padding-box;
   transition: 0.5s;
   
}
li:hover {
   --_p: 100%;
 }
 .menu__item-btn{
   border: 2px solid white;
   padding-right: 31px;
   padding-bottom: 16px;
   padding-left: 31px;
   padding-top: 16px;
   
 }

.header__wrapper {
   padding: 10% 0;
}

 .vertical-text {
   display: flex;
   justify-content: center;

   transform: rotate(270deg);
   transform-origin: left bottom; 
   white-space: nowrap; 
   max-width: 600px;

 }

 .header__content{
   display: flex;
   align-items: center;
   /* margin: 10% 0; */
 }

 .menu__social{
   display: flex;
   gap: 30px;
   color: #80858F;
   
 }
 .section__title,
 .text__fire {
   color: #57B8FF;
   font-family: 'Orbitron', sans-serif;
   font-size: 16px;
   display: flex;
   align-items: center;
   gap: 8px;
 }

 .section__text, 
 .content_text-p {
   color: #999;
   font-family: 'Orbitron', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px; 
   margin-bottom: 50px;
 }

 .section__subtitle,
 .text__left{
   color: #FFF;
   font-family: 'Orbitron', sans-serif;
   font-size: 72px;
   font-style: normal;
   font-weight: 400;
   line-height: 86px; /* 119.444% */
   text-transform: capitalize;
 }
 .content_left{
   width: 660px;
   height: 528px;
   
}
.expvie__btn{
   display: flex;
   align-items: center;
   padding-left: 0;
   gap: 40px;
}
.explore__btn{
   border: 2px solid #57B8FF;
   padding-right: 31px;
   padding-bottom: 16px;
   padding-left: 31px;
   padding-top: 16px;
   color: #FFF;
   font-family: 'Orbitron', sans-serif;
   font-size: 18px;
   display: inline-block;
   transition: background-color 0.3s ease;
   background-color: #57B8FF;
}
.explore__btn:hover{
   background-color: transparent;
   border: 2px solid #fff;
}
.view__btn{
   border: 2px solid transparent;
   padding-right: 31px;
   padding-bottom: 16px;
   padding-left: 31px;
   padding-top: 16px;
   color: #FFF;
   font-family: 'Orbitron', sans-serif;
   font-size: 18px;
   display: inline-block;
   transition: border 0.3s ease; 
}
.view__btn:hover{
   border: 2px solid #fff;
}


/*================== END Header Section ===================*/







/*==================  Sponsors Section ===================*/

.sponsors {
   background-color: #FDD04A;
   text-align: center;
}
.title__spon {
   color: #222730;
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   font-size: 48px;
   font-weight: 400;
   padding-top: 125px;
   margin: 0;
}

.spon__p {
   color: #555;
   text-align: center;
   font-size: 1rem;
   font-style: normal;
   max-width: 533px;
   margin: 27px auto;
}
.sponsors__image {
   display: flex;
   justify-content: center;
   gap: 32px;
   padding-top: 44px;
   padding-bottom: 125px;
   margin-bottom: 0px;
}

/*=========================== END Sponsors Section =============================*/






/* =========================== Gaming Section ================================= */

.gaming {
   background-image: url(../images/foune.png);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 130px 0;
}

.oll_text {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   margin-bottom: 65px;
}

.text__fire {
   margin-bottom: 10px;
}

.text__left-too {
   color: #FFF;
   text-align: center;
   font-family: 'Orbitron';
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: 74px; 
   text-transform: capitalize;
   max-width: 716px;
   margin-bottom: 40px;
   margin-top: 0;
}

.content_text-too {
   color: rgba(223, 223, 223, 0.80);
   text-align: center;
   font-family: 'Orbitron';
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
   max-width: 698px;
}

.gaming__list {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;

   font-family: Orbitron;
}

.gaming__items {
   flex: 1 1 48%;

   border-radius: 20px;
   background: rgba(255, 255, 255, 0.15);

   padding: 35px 35px 35px 80px;
   transition: background .3s ease;
   cursor: pointer;
}

.gaming__items:hover {
   background: rgba(255, 255, 255, 0.35);
}

.gaming__title {
   position: relative;
   font-weight: 400;
   color: #fff;
   font-size: 32px;
   line-height: 42px;

   margin-bottom: 20px;
}

.gaming__title::before {
   position: absolute;
   content: ' ';
   left: -40px;
   top: 5px;
   width: 30px;
   height: 30px;
   background: url('../images/gaming-list-image.svg')center center no-repeat;
}

.gaming__text {
   color: #dfdfdf;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
}

/* =========================== END Gaming Section ================================= */




/* =============================== About section ================================== */

.about {
   padding: 130px 0;
}

.about__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.about__left {
   flex: 0 1 55%;
}

.about__right {
   flex: 0 1 35%;
   max-width: 490px;
}

.about__img-link {
   position: relative;
}

.about__img-link::before {
   position: absolute;
   content: ' ';
   left: 160px;
   top: -300px;
   width: 129px;
   height: 129px;
   background: url('../images/about-img-video.svg') center center no-repeat;
   z-index: 1;
}

.about__right:hover .about__img {
   box-shadow:0 0 30px 0 #4c4c4c;
}

.about__img {
   transition: box-shadow .3s ease;
   border-radius: 110px;
}

/* =============================== Customize section ================================== */


.customize {
   background: #2A313C;
}

.customize__content {
   display: flex;
   align-items: center;
   gap: 128px;
}
.img-litle {
   display: flex;
   gap: 19px;
}
.section__customize-title{
   margin-bottom: 35px;
   margin-top: 15px;
}
.section__too-text{
   margin-bottom: 15px;
}
.cards-list {
   z-index: 0;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }
 
 .card {
   margin: 30px auto;
   width: 270px;
   height: 110px;
   border-radius: 40px;
 box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
   cursor: pointer;
   transition: 0.4s;
 }
 
 .card .card_image {
   width: inherit;
   height: inherit;
   border-radius: 40px;
 }
 
 .card .card_image img {
   width: inherit;
   height: inherit;
   border-radius: 40px;
   object-fit: cover;
 }
 
 .card .card_title {
   text-align: center;
   border-radius: 0px 0px 40px 40px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 30px;
   margin-top: -80px;
   height: 40px;
 }
 
 .card:hover {
   transform: scale(0.9, 0.9);
   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
     -5px -5px 30px 15px rgba(0,0,0,0.22);
 }

/* =============================== END Customize section ================================== */
